<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="robots" content="noindex,nofollow">
   <meta name="description" content="About html">
   <meta name="keywords" content="HTML CSS SEMANTIC UI EXPRESS MONGOOSE MONGO DB NODE">
   <title>Blog App</title>
	<!--<link rel = "stylesheet" href = "/app.css">-->
	<!--bootstrap version 3.3.x-->
	<!--not going to use bootstrap for Blog App, instead using SEMANTIC UI -->
	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
	<!--<link rel = "stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"> 
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	<!--Author:Anupama-->
 </head>
	<body>
    
		<div class="ui fixed inverted menu">
			<div class="ui container">
                <div class="header item"><i class="code icon"></i>Blog Site</div>
                <a href="/" class="item">Home</a>
                <a href="/books/new" class="item">New Post</a>
            </div>
		</div>